<!doctype html>
<html>
<head>
  <title>chap 3 example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous"> 
  <style>
    .try { background-color:lightgreen ; color: white; padding: 0px 10px 1px 1px; border-radius: 0px 0px 7px 0px;}
    .box { background-color: lightblue; padding: 1px 6px; border-radius: 4px; margin: 5px; }
  </style>
</head>
<body>

<h1>Example p305</h1>
<p>This example uses the Vue directives <code>v-for</code> to duplicate some HTML code to show the entries of the array property <code>vm.sport</code>.</p>

<hr>

<div id="app">
  <p v-if="sport.length===0">I don't really like sports</p>
  <p v-else>My favorite sports: 
    <span v-for='x in sport' class='box'>{{ x }}</span>
  </p>
</div>

<hr/>

<p><span class='try'> Try the following</span></p> 
<ul>
  <li>Check <code>vm.sport</code> in source code and in the console. It is not exactly a JavaScript array object, but it has similar methods as an array does.</li>
  <li>Add and remove items to <code>vm.sport</code>, e.g. <code>vm.sport.push('tennis')</code>, <code>vm.sport[0] = 'badminton'</code></li>
  <li>Empty the property by <code>vm.sport=[]</code>. Check how <code>v-if</code> is used to show a message instead of an empty list.</li>
</ul>


<!-- loading the Vue v3.2 JavaScript library from CDN -->    
<script src="https://unpkg.com/vue@3.2"></script>

<script>
// define a Vue options object
const hobby = {
  data() {
    return {
      sport: [ 'football', 'running', 'swimming' ]
    }
  }
};

// create a Vue component, mounted to the HTML template
const vm = Vue.createApp(hobby).mount('#app');
</script>

</body>
</html>