<!doctype html>
<html>
<head>
  <title>chap 3 example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous"> 
  <style>
    .try { background-color:lightgreen ; color: white; padding: 0px 10px 1px 1px; border-radius: 0px 0px 7px 0px;}
    .box { background-color: lightblue; padding: 1px 6px; border-radius: 4px; margin: 5px; }
    .wrapper {
      display: grid;
      grid-template-columns: 150px auto;
      grid-gap: 10px;
      padding: 5px;
      border: 1px solid gray;
      margin: 1em;
      padding: 1em 0.5em;
      box-shadow: 5px 10px 8px #888888;
    }
    .wrapper label { margin: 0em 1em 0em 0.3em; }
  </style>
</head>
<body>

<h1>Example p308</h1>
<p>This example shows the form input binding using <code>v-model</code>. This binding is bi-directional: when the user inputs data in the form control, the corresponding property in the <code>data</code> model is updated. Similarly, when the property is updated in JavaScript, the form control in the UI is updated accordingly.</p>

<hr>

<div id="app">
<div class='wrapper'>
  <div>Name</div><input v-model="name" />

  <div>University</div><div>
    <select v-model="univ">
      <option disabled value="">Please select one</option>
      <option value="mpi">Macao Polytechnic Institute</option>
      <option value="um">University of Macau</option>
      <option value="must">Macao University of Science and Technology</option>
      <option value="other-univ">others</option>
    </select>
  </div>

  <div>Year of study</div><div>
    <input type="radio" id="y-one" value="y1" v-model="studyYear" />
    <label for="y-one">Year 1</label>
    <input type="radio" id="y-two" value="y2" v-model="studyYear" />
    <label for="y-two">Year 2</label>  
    <input type="radio" id="y-three" value="y3" v-model="studyYear" />
    <label for="y-three">Year 3</label>
    <input type="radio" id="y-four" value="y4" v-model="studyYear" />
    <label for="y-four">Year 4</label>  
  </div>

  <div>Favourite sports</div><div>
    <input type="checkbox" id="running" value="running" v-model="favSports" />
    <label for="running">running</label>    
    <input type="checkbox" id="football" value="football" v-model="favSports" />
    <label for="football">football</label>    
    <input type="checkbox" id="swimming" value="swimming" v-model="favSports" />
    <label for="swimming">swimming</label>
  </div>

</div>

<ul>
  <li><code>vm.name</code> = {{ name }}</li>
  <li><code>vm.univ</code> = {{ univ }}</li>
  <li><code>vm.studyYear</code> = {{ studyYear }}</li>
  <li><code>vm.favSports</code> = {{ favSports }}</li>
</ul>

</div> <!-- for div.wrapper -->

<hr/>

<p><span class='try'> Try the following</span></p> 
<ul>
  <li>Reference: <a href="https://v3.vuejs.org/guide/forms.html">forms</a></li>
  <li>Use the form controls to change the user data, and check that list below shows the data in the view model</li>
  <li>Change the view model in JavaScript, e.g. <code>vm.name = 'Peter'</code></li>
</ul>

<!-- loading the Vue v3.2 JavaScript library from CDN -->    
<script src="https://unpkg.com/vue@3.2"></script>

<script>
// define a Vue options object
const opts = {
  data() {
    return {
      name: '',
      favSports: [],
      studyYear: 'y1',
      univ: ''
    }
  }
}

// create a Vue component, mounted to the HTML template
const vm = Vue.createApp(opts).mount('#app')
</script>

</body>
</html>